#wrapper{
	
	width: 570px;
	margin: 0 auto;
	padding: 10px;
	
	text-align: justify;
}

#wrapper > div{
	margin-bottom: 15px;
}

#wrapper p{
	margin-bottom: 5px;
}

#wrapper h1 {
    color: #23527C;
}

#wrapper .topic a {
    text-decoration: none;
}

.subheader, .date{
	font-weight: bold;
}

.topic{
	font-size: 16pt;
}

.desc{
	font-size: 12pt;
}

.title{
	font-size: 16pt;
}

table {

}

.tbl1 {
	margin: 30px auto;
	width: 400px;
}

.tbl1 th {
	text-align: center;
}

.tbl1 th, tr,td {
	border: 1px solid #e4e4e4;
	padding: 5px;
}

.tbl2 {
	width: 800px;
	margin: 30px auto;
	text-align: center;
}

.tbl2 th {
	width: 200px;
	padding: 5px;
	text-align: center;
}

.tbl2 img {
	width: 200px;
}
